# IDE-specific files
.idea/

# macOS system files
.DS_Store
*.DS_Store
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
*.tmp
*.bak
*.swp
*.sln.ide
*.db

.env

DerivedData/
*.xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
xcdebugger/